.margin {
  transition: all 0.4s ease-out !important;
}

.lines-content {
  transition: all 0.4s ease-out !important;
}

span[class^='ced']::after {
  animation: bounce 1500ms linear infinite;
  display: inline-flex;
  flex-direction: column;
}

.view-line {
  animation: wiggler 4s ease-in-out infinite;
  transition: all 0.4s ease !important;
}

.line-numbers {
  animation: chiller 4s ease-in-out infinite;
}

.active-line-number {
  font-weight: bold;
}

@keyframes bounce {
  0% {
    transform: translateX(0px) scale(0.99) translateY(-5%);
    timing-function: ease-in;
  }

  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }

  55% {
    transform: translateX(-5px) scale(1.01) translateY(5%);
    timing-function: ease-in;
  }

  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }

  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }

  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }

  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }

  100% {
    transform: translateX(0px) scale(0.99) translateY(-5%);
    timing-function: ease-in;
  }
}

@keyframes chiller {
  0% {
    transform: translate(-2px, 0px);
  }
  25% {
    transform: translate(0px, 2px);
  }
  50% {
    transform: translate(2px, 0px);
  }
  75% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(-2px, 0px);
  }
}

@keyframes wiggler {
  0% {
    transform: rotateX(30deg) rotateY(0.3deg);
  }
  50% {
    transform: rotateX(-30deg) rotateY(-0.3deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(0.3deg);
  }
}
